<div class="span6 centered">
    <% if current_user.laboratory.present? %>
        <h2>Tu Laboratorio:</h2>
        <%= render partial: "info", locals: {laboratory: current_user.laboratory} %>
    <% else %>
    <h2>Aún no tienes un laboratorio asignado.</h2>
    <% end %>
</div>

<%= debug(@cur) %>
