<h1>Mantenimiento de Cursos</h1>

<h2>Ingeniería de Sistemas</h2>

<%= render partial: "list", locals: {courses: @courses_sys, page: "page_sys"} %>

<hr>

<h2>Ingeniería de Software</h2>

<%= render partial: "list", locals: {courses: @courses_soft, page: "page_soft"} %>

<br />

<div class="span7 centered">
  <div class="button-container">
  <% if can? :create, @course %>
    <div class="button"><%= link_to 'Nuevo Curso', new_course_path, :class => 'btn btn-primary' %></div>
  <% end %>
  <div class="button"><%= link_to 'Buscar Curso', {controller: "courses" ,action: "search"}, :class => 'btn btn-primary' %></div>
  </div>
</div>
