<footer>
    <div class="container">
        <p class="pull-right">Créditos </p>
        <p class="muted credit">
            <a href="#">Facultad de Ingeniería de Sistemas e Informática</a>
            <br>
            Universidad Nacional Mayor de San Marcos
        </p>
    </div>
</footer>