<footer>
    <div class="container">
        <small class="pull-right"><%= link_to "Créditos", about_path %></small>
        <small class="muted credit">
            <a href="http://sistemas.edu.pe/">Facultad de Ingeniería de Sistemas e Informática</a>
            <br>
            Universidad Nacional Mayor de San Marcos
        </small>
    </div>
</footer>