<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		            	<span class="icon-bar"></span>
		            	<span class="icon-bar"></span>
		            	<span class="icon-bar"></span>
					</button>
					<a class="brand" href="index.html"><img style="height: 50px" src="assets/soportec.png" alt="assets/soportec.png" height="50"></a>
					<div class="nav-collapse pull-right">
						<ul class="nav">
							<li class="active"><a href="#">Inicio</a></li>
							<li><a href="#about">Acerca de</a></li>
							<li><a href="#contact">Contacto</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>