<div class="row">
	<div class="small-8 large-centered columns">
		<h1>Editing laboratorio</h1>

		<%= render 'form' %>

		<%= link_to 'Mostrar', @laboratorio %> |
		<%= link_to 'Atrás', laboratorios_path %>
	</div>
</div>