.navbar .brand {
	padding: 0px;
}

.centered{
	margin-top: 10px;
	margin-bottom: 20px;
	/*text-align: center;*/
	background-color: #eee;
	padding: 40px;
	height: 400px;
}

footer{
	background-color: #f5f5f5;
	padding: 10px 0px;
}