<h1>Estado de Laboratorios</h1>

<% if @laboratory.present? %>
  <table class="table">
    <table class="table">  
      <tr>
        <% @laboratory.each do |laboratory| %>
          <th><%= laboratory.id %></th>
        <% end %>  
      </tr>

      <tr>
        <% @stateL.each do |state| %>
          <% if state != nil %>
            <td><%= link_to state.description, state %></td>
          <% end %>
        <% end %>
      </tr>
    </table>
  </table>
<% end %>