<div class="alert alert-info">
    <%= notice %>
</div>

<p>
  <b>Descripcion:</b>
  <%= @category.description %>
</p>

 <% if can? :update, @category %>
      <%= link_to 'Editar', edit_category_path(@category) %> |
 <% end %>

<%= link_to 'Atras', categories_path %>