<div class="row">
	<div class="small-8 large-centered columns">
		<h1>Editar usuario</h1>
		
		<%= render 'form' %>
		
		<%= link_to 'Show', @usuario %> |
		<%= link_to 'Back', usuarios_path %>
	</div>
</div>
