<div class="span6 centered panel">
    <h1>Contacto</h1>
    <div class="span3 centered">
    	<ul class="contact">
    	    <li><p>André</p> <%= link_to "@andxxi", "https://twitter.com/andxxi", :target => '_blank' %></li>
    	    <li><p>Ricardo</p> <%= link_to "@rdiazy", "https://twitter.com/rdiazy", :target => '_blank' %></li>
    	    <li><p>Alexander</p> <%= link_to "@Hark696", "https://twitter.com/Hark696", :target => '_blank' %></li>
    	    <li><p>Gianfranco</p> <%= link_to "@gms122", "https://twitter.com/gms122", :target => '_blank' %></li>
    	</ul>
    </div>
</div>