<div class="span5 centered">
    <img src="http://placehold.it/400x400" />
    <p><a class="btn" href="#">View details &raquo;</a></p>
</div>

<div class="span5 centered">
    <form>
        <h2>Login</h2>
        <div class="control-group">
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    <input type="text" class="input-block-level" placeholder="E-mail"></input>
                </div>
            </div>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"> <i class="icon-asterisk"></i> </span>
                    <input type="password" class="input-block-level" placeholder="Contraseña"></input>
                </div>
            </div>
            <button class="btn btn-medium btn-primary" type="submit">Ingresar</button>
        </div>
    </form>
</div>